.navbar__wrapper {
  display: flex;
  justify-content: space-evenly;
  background: whitesmoke;
  padding: 15px;
  li a {
    cursor: pointer;
    color: navy;
    font-weight: 500;
    &:hover,
    &:focus {
      color: brown;
    }
  }
}
