<!---------------------------------------------------------->
<!--                  loading if no data                  -->
<!---------------------------------------------------------->
<div *ngIf="items.length === 0">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<!---------------------------------------------------------->
<!--                    Items Data                        -->
<!---------------------------------------------------------->
<div class="item__wrapper d-flex" *ngIf="items.length > 0">
  <mat-card class="item__card" *ngFor="let item of items">
    <mat-card-header class="item__header">
      <mat-card-title class="title">{{ item.title }}</mat-card-title>
      <mat-card-subtitle
        class="subtitle"
        *ngFor="let author of item.prepared_by"
      >
        {{ author.title }}
      </mat-card-subtitle>
      <mat-card-subtitle>
        {{ item.type }} - {{ item.importance_level }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="item__description">
      <p>{{ item.description }}</p>
    </mat-card-content>
  </mat-card>
</div>
