.category {
  &__wrapper {
    direction: ltr;
    justify-content: start;
  }

  &__card {
    width: 18%;
    margin: 10px;
  }

  &__header {
    justify-content: space-between;
    align-items: center;
    .title {
      text-transform: capitalize;
      color: navy;
      font-size: 16px;
    }
    .count {
      color: brown;
    }
  }
}
