/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.language{
  direction: rtl;
}
